.switch {
	height: 30px;
	width: 230px;
	border-radius: 30px;
	display: flex;

	&_container {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		p {
			margin-left: 5px;
			color: #67b6b9;
		}
	}

	&_left,
	&_right {
		height: 20px;
		width: 20px;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	&_left {
		margin: 5px;
		transition: margin 1s;
		//@apply bg-light-outline dark:bg-dark-outline;
		background-color: #67b6b9;
	}
	&_right {
		margin: 8px 0px 8px 33px;
		transition: margin 1s;
		//@apply bg-on-light-primary dark:bg-on-dark-primary;
		background-color: #67b6b9;
	}

	&_icon {
		svg {
			//@apply fill-on-light-primary-container dark:fill-on-dark-primary-container;
			fill: white;
		}
		&_null {
			svg {
				//@apply fill-light-surface-variant dark:fill-dark-surface-variant;
			}
		}
	}
}

.switchFalse {
	@apply bg-on-light-surface-variant dark:bg-on-dark-surface-variant;
	background-color: black;
}
.switchTrue {
	@apply bg-light-primary dark:bg-dark-primary;
	background-color: black;
}
